@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}


.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}